atomicwrites==1.2.1
attrs==18.2.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Django==1.11.27
emoji==0.5.4
enum34==1.1.6
fake-useragent==0.1.11
Flask==1.0.2
funcsigs==1.0.2
future==0.17.1
grpcio==1.24.0
gunicorn==19.9.0
html5lib==1.0.1
idna==2.7
instapy-chromedriver==2.46
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.4.1
MarkupSafe==1.1.0
more-itertools==4.3.0
numpy==1.16.5
pandas==0.24.2
pathlib2==2.3.2
pluggy==0.8.0
plyer==1.4.2
py==1.7.0
pytest==4.0.1
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.1
requests==2.19.1
scandir==1.9.0
six==1.11.0
soupsieve==1.9.4
SQLAlchemy==1.3.8
urllib3==1.25.6
virtualenv==16.3.0
webencodings==0.5.1
Werkzeug==0.14.1
